.secondary-icon {
  .anticon {
    color: #5a595b !important;
    font-size: 20px !important;
  }
}
.primary-icon {
  .anticon {
    font-size: 20px !important;
    color: #161688 !important;
  }
}
.error-icon {
  .anticon {
    font-size: 20px !important;
    color: #fb5661 !important;
  }
}
.light-icon {
  .anticon {
    font-size: 20px !important;
    color: #ffffff !important;
  }
}
