$color-primary: #0571fa;
$color-text-100: #ffffff;
$color-text-200: #e3e4e7;
$color-text-300: #babcc4;
$color-text-400: #999ba8;
$color-text-500: #707084;
$color-text-600: #40404b;
$color-text-700: #1f1f25;
$color-text-primary: #1c1c28;
$color-text-focus: #cccccc;
$color-text-information: #1ec5fa;
$color-text-success: #33b76b;
$color-text-warning: #f5bc33;
$color-text-error: #ec3c36;
$color-text-disable: #b8b8b8;
$color-icon-white: #ffffff;
$color-icon-default: #9a9db2;
$color-icon-hover: #6e7391;
$color-icon-black: #1f1f25;
$color-icon-focus: #cccccc;
$color-icon-information: #1ec5fa;
$color-icon-success: #33b76b;
$color-icon-warning: #f5bc33;
$color-icon-error: #ec3c36;
$color-icon-disable: #b9bdca;
$color-icon-primary: #0571fa;
$color-surface-white: #ffffff;
$color-surface-black: #1f1f25;
$color-surface-primary: #0571fa;
$color-surface-primary10: #e6f1fe;
$color-surface-primary4: #f5f9ff;
$color-surface-information: #ebfaff;
$color-surface-success: #ebfff3;
$color-surface-grey: #f9f9fc;
$color-surface-dark-grey: #333333;
$color-surface-warning: #fcf6e6;
$color-surface-error: #fef0f0;
$color-surface-disable: #f8f8fa;
$color-background-white: #ffffff;
$color-background-grey: #fafafa;
$color-background-scrim: rgba(1, 11, 25, 0.5);
$color-background-light-grey: #ebebed;
$color-background-primary: #0571fa;
$color-background-information: #1ec5fa;
$color-background-input: #f0f0f0;
$color-button-primary: #0571fa;
$color-button-information: #1ec5fa;
$color-button-success: #33b76b;
$color-button-warning: #f5bc33;
$color-button-error: #ec3c36;
$color-button-disable: #f2f2f6;
$color-button-primary-hover: #509bfb;
$color-button-info-hover: #69d8fc;
$color-button-success-hover: #64d393;
$color-button-warning-hover: #f9d47c;
$color-button-error-hover: #f3807c;
$color-button-primary-press: #045ac8;
$color-button-info-press: #05ace1;
$color-button-success-press: #288f54;
$color-button-warning-press: #e9a80b;
$color-button-error-press: #db1b14;
$color-line-border-white-line: #ffffff;
$color-line-border-divider-line: #ebebed;
$color-line-border-border-default: #dadbe0;
$color-line-border-border-hover: #9a9db2;
$color-line-border-primary: #0571fa;
$color-line-border-information: #1ec5fa;
$color-line-border-success: #33b76b;
$color-line-border-warning: #f5bc33;
$color-line-border-error: #ec3c36;
$color-accent-violet: #6333ff;
$color-accent-cyan: #50d2fb;
$color-palette-primary-100: #b4d4fd;
$color-palette-primary-200: #9bc6fd;
$color-palette-primary-300: #82b8fc;
$color-palette-primary-400: #69aafc;
$color-palette-primary-500: #509bfb;
$color-palette-primary-600: #378dfb;
$color-palette-primary-700: #1e7ffa;
$color-palette-primary-800: #0571fa;
$color-palette-primary-900: #0565e1;
$color-palette-primary-1000: #045ac8;
$color-tertiary: #9094ac;
$color-text-basic: #121212;
$color-text-error: #fc5661;
$color-text-active: #5646ff;
