.ant-breadcrumb {
  padding: "20px 0 24px 0px" !important;

  .ant-breadcrumb-link {
    color: #535ce5cc;
    font-weight: 500;
    font-size: 13px;
  }
  .ant-breadcrumb-separator {
    font-size: 13px;
  }
}
